<div class="m-2 row mb-4 blog">
  <div class="rem-2 col-md-5">
    
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      
      {{blog.title}}
 

    <p>Created by {{blog.user.user_name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
  <div>
    <div>{{blog.comment}}</div>
  </div>
  <form>
    <input class="rounded rem-3" id="comment" type="text">
    <br>
    <button class="my-2 btn btn-primary" id="commentBtn">Add Comment</button>
  </form>
</div>
<script src="/js/addComments.js"></script>
